*{
	font-family:"Microsoft YaHei";
	color: #666;
}

body{background:#efefef;}

a{
	text-decoration:none;
}

div{

	position:relative;
}
.div_banner{
	float:left;
	position:relative;
	margin-left:2px;
	width:600px;
	height:225px;
	box-shadow:3px 3px 5px #bbb;
	overflow:hidden;
}

.search_no{
	width:205px;
	height:125px;
	line-height:25px;
	font-size:14px;
	overflow-y: auto;
	border:1px #dddddd solid;
	border-top:2px #efd8ff solid;
	background:url(../img/bg_text.png);
	resize: none;
}
.main{
	margin:13px;
	height:225px;
}
.header,.main,.footer{
    margin: 0 auto;
    width: 850px;
    text-align: center;
}

textarea {
	margin-block-start:10px;
    margin-block-end:8px;
}



.index_botton_sumbit {
    font-size: 14px;
    line-height: 25px;
    padding: 0 10px;
    background: #efd8ff;
    border: 0;
}
.index_box ul {
    padding: 10px;
}

.index_box {
    width: 240px;
    background: #FFF;
    box-shadow: 3px 3px 5px #bbb;
}


/* slidesjs */
.slidesjs-pagination {
  margin: 7px 0 0;
  float: right;
  list-style: none;
  position:absolute;
  bottom:10px;
  right:10px;
  z-index:99;
}
.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}
.slidesjs-pagination li a {
  display: block;
  width: 11px;
  height: 0;
  padding-top: 11px;
  background-image: url(../img/pagination.png);
  background-position: 0 0;
  float: left;
  overflow: hidden;
}
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background-position: 0 -11px
}
.slidesjs-pagination li a:hover {
  background-position: 0 -22px
}