<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qztc.sxl.employee"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="9" />

	<uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
	<uses-feature android:name="android.hardware.camera "/>
	<uses-feature android:name="android.hardware.camera.autofocus"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="qztc.sxl.employee.activity.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        
		<activity
            android:name="qztc.sxl.employee.activity.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        
		<activity 
            android:name="com.zxing.activity.CaptureActivity" >
        </activity> 
               
		<activity 
            android:name="qztc.sxl.employee.activity.RecieveMenuActivity" >
        </activity>               
		<activity 
            android:name="qztc.sxl.employee.activity.SortMenuActivity" >
        </activity>               
		<activity 
            android:name="qztc.sxl.employee.activity.TransportMenuActivity" >
        </activity>               
		<activity 
            android:name="qztc.sxl.employee.activity.DeliveryMenuActivity" >
        </activity>
    </application>

</manifest>
